* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Open Sans", serif;
 font-weight: 300;
 letter-spacing: 1px;
 text-decoration: none;
 list-style: none;
 background-color: #17181d;
 color: lightgrey;
 scroll-behavior: smooth;
}


hr {
  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid #5E60CE;
 }



/* ****************HEADER SECTION************** */
.header {
 /* border: 1px solid yellow; */
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 35px 12%;
 background: #17181d;
 box-shadow: 5px 5px 12px #5E60CE;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo {
  /* border: 1px solid green; */
 font-size: 25px;
 color: lightgrey;
 text-transform: uppercase;
 font-weight: 600;
 transition: 0.3s ease;
}

.logo i{
  color: #5E60CE;
  font-size: 16px;
}

.logo:hover {
 color: #5E60CE;
 text-shadow: 0 0 25px #5E60CE,
              0 0 50px #5E60CE;
 transform: scale(1.1);
}

.name {
 color: lightgrey;
 font-weight: 600;
}

.navbar a {
 font-size: 18px;
 color: lightgrey;
 text-transform: uppercase;
 font-weight: 500;
 margin: 0 20px;
 border-bottom:  3px solid transparent;
 transition: 0.5s ease;
}

.navbar a:hover {
 padding: 5px 8px;
 color: #5E60CE;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #5E60CE;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: lightgrey;
}

/* ********HOME SECTION********** */
.home {
 /* border: 1px solid yellow; */
 min-width: 100%;
 min-height: 50vh;
 margin: 120px 0 20px 0;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.home-content {
  /* border: 1px solid red; */
 padding: 15px;
 border-radius: 10px;
 box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
}
.home-content h3 {
 font-size: 40px;
}
.home-content h1 {
 font-size: 50px;
}

.home-content p {
 font-size: 50px;
 font-weight: 600;
 color: #5E60CE;
}

.typing {
 width: 19ch;
 animation: typing 2s steps(19), blink .5s step-end infinite alternate;
 white-space: nowrap;
 overflow: hidden;
 border-right: 3px solid;
}

@keyframes typing {
 from {
   width: 0;
 }
}

@keyframes blink {
 50% {
   border-color: transparent;
 }
}

.btn-home {
 /* position: static; */
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: none;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  /* padding-top: 5px; */
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.btn-home:hover {
  padding: 5px;
 color: #5E60CE;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #5E60CE;
}


.home-social {
  padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 10px;
 box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
}

.home-social i {
 margin: 20px;
 font-size: 50px;
 border: none;
 transition: 0.5s ease-in-out;
}
.home-social i:hover {
 color: #5E60CE;
 text-shadow: 0 0 25px #5E60CE,
              0 0 50px #5E60CE;
 transform: scale(1.1);
}

/************** ABOUT SECTION ********************/
.about-me {
 /* border: 1px solid green; */
 min-width: 100%;
 padding: 35px 12%;
 margin: 100px 0;
}

.about-me-inner {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
 /* border: 1px solid lightslategray; */
}

.about-me-inner h2 {
  margin: 20px 0;
  font-size: 30px;
 text-align: center;
 text-transform: uppercase;
 /* color: #5E60CE; */
 border-bottom: 2px solid #5E60CE;
}

.about-me-info {
 max-width: 900px;
 padding: 15px;
 text-align: center;
 line-height: 1.6;
}

.about-me-info p {
  font-size: 20px;
}

.about-me-skills {
 width: 500px;
 margin-top: 15px;
 padding: 10px;
 display: flex;
 flex-direction: column;
 border-radius: 10px;
}

.skills-title {
  font-size: 25px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #5E60CE;
  margin: 0 195px 15px 200px;
}

.flex-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.flex-container i {
  margin: 20px;
 font-size: 50px;
 border: none;
 transition: 0.5s ease-in-out;
}

.flex-container i:hover {
  color: #5E60CE;
  text-shadow: 0 0 25px #5E60CE,
              0 0 50px #5E60CE;
 transform: scale(1.1);
}

/*************** PROJECTS SECTION ***************/
.projects {
  /* border: 2px dashed yellow; */
 min-width: 100%;
 margin: 50px 0;  
 display: flex;
 flex-direction: column;
}

.projects h2 {
  align-self: center;
  text-align: center;
 text-transform: uppercase;
 font-size: 30px;
 border-bottom: 2px solid #5E60CE;
 margin: 40px 0 10px 0;
}

.projects-container {
 /* border: 2px solid red; */
 max-width: 100%;
 margin: 0 50px 20px 50px;
 padding: 40px;
 display: flex;
 flex-direction: column;
}

.project-card {
  /* border: 1px solid lightslategray; */
  width: 825px;
  height: 350px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
  transition: 0.5s ease-in-out;
}

.p-c-left {
  align-self: flex-start;
}

.p-c-right {
  align-self: flex-end;
}

.project-card:hover {
  box-shadow: 10px 10px 10px #5E60CE;
}

.p-c-right {
  flex-direction: row-reverse;
}

.img-container {
  /* border: 1px solid purple; */
  max-width: 50%;
  margin: 20px;
  border-radius: 30px;
}

.img-container img {
  /* border: 1px solid green; */
  max-width: 300px;
  height: 280px;
  padding: 10px;
  border-radius: 30px;
}

.info-container {
  /* border: 1px solid yellow; */
  max-width: 500px;
  margin: 0 10px;
  padding: 20px;
}

.project-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.project-title:hover {
  text-decoration: underline #5E60CE;
}

.info-container p {
  font-size: 18px;
 line-height: 1.4;
}

.btn-container {
  /* border: 1px solid red; */
  margin-top: 12px;
}

.btn-live,
.btn-github {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #5E60CE;
  margin: 10px;
  padding: 8px;
  transition: 0.5s ease-in-out;
}


.btn-live:hover,
.btn-github:hover {
  box-shadow: 5px 5px 5px #5E60CE;
  border-radius: 5px;
  border: none;
}


/************ CONTACT SECTION *************/
.contact {
  /* border: 1px solid red; */
  min-width: 100%;
 padding: 50px 0;
 display: flex;
 flex-direction: column;
}

.contact h2 {
  align-self: center;
  text-align: center;
 text-transform: uppercase;
 font-size: 30px;
 border-bottom: 2px solid #5E60CE;
  margin-bottom: 20px;
}

.form-container {
  width: 600px;
 margin: auto;
 padding: 10px;
 display: block;
 border-radius: 10px;
 box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
  transition: 0.5s ease-in-out;
}

.form-container:hover {
  box-shadow: 10px 10px 10px #5E60CE;
}

.form {
 margin: 20px;
}

.form-lbl {
  font-size: 20px;
}

.form input {
 margin: 10px 0px 20px 0px;
 padding: 5px;
 width: 100%;
 font-size: 16px;
 border: none;
 border-bottom: 1px solid #5E60CE;
}

.form input:focus {
 background-color:  transparent;
 color: #EEF0F2;
}

.form textarea {
 margin: 5px 0px 10px 0px;
 padding: 5px;
 width: 100%;
 height: 80px;
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #5E60CE;
}

.form textarea:focus {
 background-color:  transparent;
 color: #EEF0F2;
}

.form button {
 width: 100%;
 height: 35px;
 font-size: 16px;
 text-transform: uppercase;
 letter-spacing: 1px;
 border: 1px solid #5E60CE;
 background-color: transparent;
 border-radius: 5px;
 cursor: pointer;
 transition: 0.5s ease;
}

.form button:hover {
  background-color: #5E60CE;
  color: #1a1836;
  border: none;
}

/************** FOOTER ****************/
footer {
 text-align: center;
 background: #131313e2;

}

footer p {
 color: white;
 font-family: 30px;
 padding: 10px;
}


/************** MEDIA QUERIES ***********/

@media only screen and (max-width: 1024px) {
  hr {
    margin-left: 100px;
    margin-right: 100px;
   }

  .p-c-left {
    align-self: center;
  }
  
  .p-c-right {
    align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  hr {
    margin-left: 70px;
    margin-right: 70px;
    border: 1px solid #5E60CE;
   }

  /* HEADER/NAVBAR SECTION */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    /* border: 1px solid orange; */
    position: fixed;
    left: -100%;
    top: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #17181d;
    /* opacity: 0.9; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    box-shadow: 0 10px 27px rgb(0, 0, 0);
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    /* border: 1px solid green; */
    background-color: transparent;
    font-size: 40px;
    margin: 20px 0;
  }

  .navbar a:hover {
    color: #5E60CE;
    padding: none;
  }


  /* HOME SECTION */
  .home {
    flex-direction: column;
  }

  .home-social {
    flex-direction: row;
  }

  /* PROJECT SECTION */
  .projects {
    margin: 50px 0;
  }

  .project-card {
    margin: 20px 30px;
    width: 700px;
  }

  .img-container {
    margin: 10px;
  }

  .info-container {
    margin: 0 10px;
    padding: 5px;
  }

  /* ABOUT SECTION */
  .about-me {
    padding: 35px;
  }
}

@media only screen and (max-width: 425px) {
  hr {
    margin-left: 40px;
    margin-right: 40px;
   }
  
  .home-content {
    width: 90%;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 6px 6px 12px #00000035, -6px -6px 12px #35353535;
  }
  .home-content h3 {
   font-size: 25px;
  }
  .home-content h1 {
   font-size: 30px;
  }
  
  .home-content p {
   font-size: 30px;
   font-weight: 600;
   color: #5E60CE;
  }

  .typing {
    width: 20ch;
    /* animation: none; */
  }

  /* ABOUT SECTION */
  .about-me-skills {
    width: 350px;
  }

  .flex-container i {
    font-size: 35px;
  }

  /* PROJECT SECTION */
  .projects h2 {
    margin: 40px 0 5px 0;
  }

  .project-card {
    width: 400px;
    height: 650px;
    margin: 15px 0;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .img-container {
    min-width: 80%;
  }

  .img-container img {
    width: 400px;
    height: 250px;
    padding: 0;
  }

  .info-container {
    padding: 30px 0;
  }

  /* CONTACT SECTION */
  .form-container {
    width: 400px;
  }
}


