* {
 font-family: "Open Sans", serif;
 font-weight: 300;
}

body{
 width: 100%;
 margin: 0;
 scroll-behavior: smooth;
 /* background-color: #fafaff; */
 background-color: #023047;
 color: #DADDD8;
}


/* ****************NAV SECTION************** */



/* ********HERO SECTION********** */
